/* Removed overflow-y: hidden; to allow scrollbars when needed */

body {
    font-family: Consolas, "courier new";
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* vertically centers the entire content */
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.summary {
    font-size: 1.1em;
    margin: 0 auto 30px;
    line-height: 1.6;
}

/* Global Link Styles */
a {
    text-decoration: none;
    color: #444;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
a:visited {
    color: #555;
}
a:hover {
    font-weight: bold;
    color: #222;
}
body.dark-mode a {
    color: #ccc;
}
body.dark-mode a:visited {
    color: #bbb;
}
body.dark-mode a:hover {
    color: #fff;
}

/* Link Styles for the social icons */
.links {
    text-align: center;
    margin-top: 20px;
}
.links a {
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}
.links a:hover {
    transform: translateY(-2px);
}
/* Restore icon colors */
.links a i {
    font-size: 2em;
    color: #0073e6;
    transition: color 0.3s, transform 0.3s;
}
body.dark-mode .links a i {
    color: #92bbe4;
}

/* Overview Section Styles */
.overview {
    max-width: 800px;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overview > div {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    font-size: 0.9em;
    color: #555;
}

.overview h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.overview table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

.overview table td {
    padding: 6px 4px;
    text-align: left;
    border: none;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #272822;
    color: #f8f8f2;
    padding: 20px;
}

.container.dark-mode {
    background-color: #3e3d32;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #7c7c7c;
    font-size: 1.5em;
}

#darkModeToggle:hover {
    color: #adadad;
}

/* Fix education and skills sections font color in dark mode */
body.dark-mode .overview > div {
    color: #ccc;
}
body.dark-mode .overview h2 {
    color: #f8f8f2;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
    .overview > div {
        margin: 5px;
    }
    .links a {
        margin: 0 5px;
    }
}
